# Ignore specific notebooks and files with special characters
CE887_Assignment 2_Code_2204479-checkpoint.ipynb
CE887_Assignment 2_Code_2204479-checkpoint.ipynb:Zone.Identifier

# Data files
#IMDB_dataset.csv
IMDB_dataset.csv:Zone.Identifier

# Specific Python script

# Documentation files

